Adafruit-DHT==1.4.0
amqp==2.4.2
backports.shutil-get-terminal-size==1.0.0
billiard==3.5.0.5
celery==4.2.1
configparser==3.7.3
decorator==4.4.0
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
functools32==3.2.3.post2
future==0.17.1
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
iso8601==0.1.12
kombu==4.4.0
lxml==4.3.2
mccabe==0.6.1
monotonic==1.5
numpy==1.16.2
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pymavlink==2.3.4
pyserial==3.4
pytz==2018.9
PyYAML==5.1
redis==3.2.1
RPi.GPIO==0.6.5
scandir==1.10.0
simplegeneric==0.8.1
six==1.12.0
traitlets==4.3.2
typing==3.6.6
vine==1.2.0
wcwidth==0.1.7
