[Unit]
Description=Tukano daemon for startup services
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/home/pi/tukano/venv/bin/python /home/pi/tukano/rpi_startup.py &> /home/pi/tukano/data/logs/startup_service.log

[Install]
WantedBy=multi-user.target
